body {
    background-color: #2e2e2e;
    opacity: 15;
    background: radial-gradient(circle, transparent 20%, #2e2e2e 20%, #2e2e2e 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #2e2e2e 20%, #2e2e2e 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#e64444 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #e64444 2px, #2e2e2e 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  }
  
  .loginForm {
    width: 300px;
    margin: auto; /* Centra el formulario horizontalmente */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000000; /* Fondo negro */
    color: #fff;

  }
  
  .logo {
    display: block; /* Para centrar horizontalmente */
    margin: 0 auto; /* Centra el logo horizontalmente */
    width: 40%; /* Ajusta el tamaño del logo según sea necesario */
  }
  
  /* Ajusta el espacio entre el borde y los campos de entrada */
  .textInput {
    width: calc(100% - 16px); /* Resta el padding izquierdo y derecho */
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el botón */
  .button {
    width: 100%;
    padding: 10px;
    background-color: #e64444; /* Botón rojo */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #c62434; /* Color rojo más oscuro al pasar el ratón */
  }
  
  /* Centra el texto debajo del botón */
  .text-center {
    text-align: center;
    color: #fff;
  }
  
  /* Estilo para el enlace de acceso */
  .text-info {
    color: #007bff;
  }


  label {
    color: #fff; /* Color de texto blanco para los títulos de los campos */
  }

  