<div class="col-md-4 mx-auto">
    <div class="card">

        <div class="header">
            <h3>Agregar producto</h3>
        </div>

        <div class="car-body">
            <form action="/clientes/new-clientes" method="POST">

                <div class="form-group">
                    <input list="nombreProductos" type="text" name="nit" class="form-control" placeholder="Nit"autofocus>
                </div>
                <div class="form-group">
                    <input list="marca" type="text" name="nombre" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input list="marca" type="text" name="direccion" class="form-control" placeholder="Direccion">
                </div>
                <div class="form-group">
                    <input list="marca" type="text" name="zona" class="form-control" placeholder="Zona">
                </div>
                <div class="form-group">
                    <input list="marca" type="text" name="contacto" class="form-control" placeholder="Contacto">
                </div>
                <div class="form-group">
                    <input list="marca" type="text" name="descuento" class="form-control" placeholder="Decuento">
                </div>
                <div class="form-group">    
                    <input list="marca" type="text" name="FechaIngreso" class="form-control" placeholder="Fecha de ingreso">
                </div>

                    <button class="btn btn-primary btn-block" type="submit">
                        Save
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>